<section class="mat-typography">
    <h1>Title stylised</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim placeat sunt. Corporis, doloribus eos eum illum, impedit incidunt inventore molestias non omnis porro quas quasi sequi vero! Nesciunt, quisquam.</p>
</section>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<button mat-button mat-raised-button color="primary">SAVE</button>
<button mat-button mat-raised-button color="accent">DELETE</button>
