.container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;

  .console {
    background: darkslategray;
    height: 200px;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-bottom: .5rem;

    .mat-card-content {
      height: 100%;
      margin-bottom: 0;

      p {
        &.primary {
          color: whitesmoke;
        }

        &.success {
          color:greenyellow
        }

        &.error {
          color: orangered;
        }
      }
    }

    button {
      position: absolute;
      right: 1rem;
      bottom: .5rem;
    }
  }

  .mat-card {
    margin-bottom: 10px;

    &.unknown {
      background: cornflowerblue;
    }

    &.pending {
      background: yellow;
    }

    &.rejected {
      background: orangered;
    }

    &.validated {
      background: greenyellow;
    }
  }

}

